//screen
$screen-lg: 1201px;
$screen-md:992px;
$screen-sm:768px;
$screen-phone:480px;
$screen-ip6-down:'(max-width:375px)';
//color
$appbar-bg-color: #0067a3;
$board-bg-color: #0079bf;
$app-main-text-color: #333;
$list_bg_color: hsla(0, 0%, 100%, 0.64);
$text_color: #333;
$input_border_color : #0079bf;
//
$gap: 10px;
$colums_header_color: 46px;
$colums_footer_color: 46px;
$border_radius: 8px;
$card_border_radius: 5px;
$commom_element_bg: rgba(172, 169, 169, 0.24);


//app bar + board bar + list content
$appbar-height: 5vh;
$navboard-height: 6vh;
$board-content-height: 88vh