@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600");
@import './_setting.scss';
body {
    margin: 0;
    font-size: 14px;
    line-height: 1.3em;
    font-family: "Source Sans Pro", sans-serif;
}
.Main {
    .trello-nav {
        height: 100vh;
        overflow: hidden;
        background-color: $board-bg-color;
    }
}