@import "_setting.scss";

.card-item {
    list-style-type: none !important;
    background-color: white;
    padding: $gap;
    cursor: pointer;
    margin-bottom: $gap;

    border-radius: $card_border_radius;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    img {
        display: block;
        width: calc(100% + #{$gap} + #{$gap});
        margin: -$gap 0 $gap (-$gap);
    }
}
