@import "_setting.scss";

.navbar {
    height: $appbar-height ;
    padding-left: $gap;
    display: flex;
    align-items: center;
    
    &.app {
        padding-top: 0px;
        background-color: $appbar-bg-color;
        font-size: 1.5rem;
    }
    .topnav {
        background-color: gray;
        overflow: hidden;
    
        /* Style the links inside the navigation bar */
        .active {
            float: left;
            color: #f2f2f2;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
            font-size: 17px;
        }
    
        /* Change the color of links on hover */
        .active:hover {
            background-color: $board-bg-color;
            color: black;
        }
    
        /* Add a color to the active/current link */
        .active {
            background-color: $appbar-bg-color;
            color: $app-main-text-color;
        }
    }
}